.DS_Store
.vscode
VOCdevkit/**
coco4dpm/annotations/**
coco4dpm/.ipynb_checkpoints/**
voc-release3.1/almost_complete_voccache/**
voc-release3.1/voccache_coco/**
voc-release3.1/voccache_pascal/**
voc-release3.1/tmp/**
voc-release3.1/VOC2006/**
voc-release3.1/VOC2007/**
voc-release3.1/VOC2008/**
